* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Oswald", sans-serif;
  position: relative;
}
.container {
  width: 75%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.title {
  text-align: center;
}
.title p:first-of-type {
  color: #e62b4a;
  font-size: 15px;
  font-weight: 300;
}
.title h2 {
  color: white;
  font-size: 55px;
  font-weight: 400;
  padding-bottom: 20px;
}
.title p:last-of-type {
  color: gray;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 45px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.back-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.back-to-top i {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.25);
}
/* header */
header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.223);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.header__content li {
  display: inline-block;
  padding: 0 26px;
}
.header__content nav a {
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  transition: all 0.5s;
}
.header__content nav a:hover {
  color: #e62b4a;
}
.header__icon {
  font-size: 30px;
  font-weight: 900;
  align-items: center;
  color: white;
}
.header__content nav a.home {
  color: #e62b4a;
}
/* end header */

/* carousel */
.carousel {
  background-image: url(../img/home_slider.jpg);
  background-repeat: no-repeat;
  height: 92vh;
  background-size: cover;
  background-position: center;

  position: static;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel__content {
  text-align: center;
  width: 60%;
  color: white;
  line-height: 1.2;
}
.carousel__content p {
  font-size: 25px;
  padding-bottom: 5px;
  font-weight: 400;
}
.carousel__content h2 {
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 15px;
}
.carousel button {
  color: white;
  border: none;
  padding: 16px 30px;
  font-size: 15px;
  background-color: #e62b4a;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}
.carousel button:hover {
  background-color: #ae2239;
}
.carousel__icon i {
  font-size: 30px;
  padding-top: 40px;
  animation-name: animate__1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* end carousel */

/* services */
.services {
  background-color: black;
  padding: 100px 0;
}

.services__item {
  padding: 10px;
  height: 250px;
}
.services__contain {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gray;
  line-height: 1.5;
  position: relative;
}

.services__contain::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: #e62b4a;
  height: 0;
  width: 5px;
  transition: all 0.3s;
}
.services__contain:hover::after {
  height: 100%;
}
.services__contain i {
  font-size: 40px;
  padding-bottom: 10px;
}
.services__list {
  width: 100%;
}
/* .slick-dots li button {
  color: transparent;
} */
.slick-dots li button:before {
  font-size: 15px;
  color: white;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #e62b4a;
}

/* end services */

/* blog */
.blog {
  padding: 80px 0;
}
.blog__title p:first-of-type {
  color: rgb(124, 123, 123);
  font-weight: 400;
}
.blog__title h2 {
  color: black;
  padding-top: 5px;
}
.blog__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.blog__item {
  position: relative;
}
.blog__item .item__img {
  width: 100%;
  height: 100%;
}
.blog__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: grayscale(50%) contrast(50%);
}

.blog__item .item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: all 0.5s;
}
.blog__item:hover .item__overlay {
  opacity: 1;
}
.blog__item .item__icon {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(30px);
  transition: all 1s;
}
.blog__item:hover .item__icon {
  transform: translateY(0);
}
.blog__item .item__icon:hover {
  background-color: black;
}
.blog__item .item__icon i {
  color: black;
  transition: all 1s;
}
.blog__item .item__icon:hover i {
  color: white;
}
.blog__item .item__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  transform: translateY(30px);
  transition: all 0.5s;
}
.blog__item:hover .item__text {
  transform: translateY(0);
}
.blog__item .item__text h3 {
  font-size: 16px;
  font-weight: 400;
  color: #d0c7c8;
}
.blog__item .item__text p {
  font-weight: 500;
  font-size: 20px;
}
.blog__item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.blog__item-10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

/* end blog */

/* number */
.number {
  background-color: black;
}
.number__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.number__item {
  text-align: center;
  color: white;
  padding: 80px 0;
}
.number__item span {
  font-size: 60px;
  font-weight: 300;
}
.number__item p {
  font-size: 20px;
  font-weight: 400;
  color: #847d7e;
}
/* end number */

/* works */
.works {
  background-image: url(../img/bussiness_img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  overflow: hidden;
}
.works__video {
  text-align: center;
}
.works__video video {
  width: 100%;
}
/* end works */

/* contact */
.contact {
  padding: 80px 0;
}
.contact__title {
  text-align: center;
}
.contact__title h2 {
  color: black;
  font-size: 55px;
  font-weight: 400;
  padding-bottom: 20px;
}
.contact__title p {
  color: gray;
  font-weight: 400;
  font-size: 17px;
  padding-bottom: 35px;
}
.contact__form {
  display: flex;
  justify-content: center;
}
.contact__form .form__map {
  padding-right: 20px;
}
.contact__form input {
  display: block;
  /* padding: 15px 215px 15px 10px; */
  width: 400px;
  height: 50px;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 35px;
}
.contact__form textarea {
  /* padding: 10px 131px 40px 10px; */
  width: 400px;
  height: 200px;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
}
.contact__form button {
  display: block;
  font-size: 16px;
  border: none;
  /* padding: 20px 150px; */
  height: 50px;
  width: 400px;
  background-color: black;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.contact__form button:hover {
  background-color: #e62b4a;
}
/* end contact */

/* footer */
footer {
  background-color: black;
  padding: 80px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  color: white;
}
.footer__icon i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.501);
  margin-left: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.footer__icon i:hover {
  background-color: #e62b4a;
}
/* end footer */
@keyframes animate__1 {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
